@import url('https://fonts.googleapis.com/css?family=Baloo');
*{
	outline: 1px solid red;
}
body {
	margin: 0;
	padding: 0;
    width: 100%;
}
#portada{
	background-image: url("../img/banner.jpg");		
    background-position:bottom;
	width: auto;
	background-size: cover;		
	height: 700px;

}
nav a.button-collapse {
    height: 64px;
    line-height: 64px;
    float: right;
}
.nav-texto{
    float: right;
}
#slide-out{
    width: 200px !important;
}
#texto__1 {
	height: 400px;
	position: relative;
    top: 200px;
    color: white;
    hr{
    	border: 2px solid white;
    	width:250px;
    }
    h4{
    }
    h6{
    	font-size: 20px;
    	line-height: 28px;
    }
}

// -------------------------------------
#seccion__2{
	background-color: #21b2a6;
	width: 100%;
	height: 500px;
}
#texto__2 {
	position: relative;
    top: 50px;
    color: white;
    height: 200px;
}
#texto__2{
    hr{
    	border: 1px solid #AFC6C9;
    	width:760px;
    }
    h6{
    	font-size: 20px;
    	line-height: 28px;
    	color: #A2B7BA;
    }
    img{
    	padding: 20px;
    	position: relative;
        top: 40px;
    }
}
// ------------------------------------------
h5 {
    width: 400px;
}
#seccion__3--row1{
	background-color: #5E6866;
	width: 100%;
    margin-bottom: 0;
    color: white;
    font-family: 'Baloo', cursive;
    

    h6{
    	font-size: 20px;
    	line-height: 28px;
    	color: #A2B7BA;
    }   
}
#row1--imagen1{
    padding: 0;
    }
#seccion__3--row2{
    background-color: #192021;
    width: 100%;
    margin-bottom: 0;
    // margin-top: -7px;
    color: white;
    font-family: 'Baloo', cursive;
    
    // #texto{
    //   background-color: #636B6C;
    //   width: 100%;
    //   height: 300px;
    // }
    
    // #imagen{
    // position: relative;
    // right: 10px;
    // }  
    // h6{
    //     width: 300px;
    // }
}
#seccion__3--row3{
    background-color: #2b343d;
    width: 100%;
    height: 282px;
    margin-bottom: 0; 
    color: white;
    font-family: 'Baloo', cursive;
    // img{
    // position: relative;
    // right: 10px;
    // }
    // h6{
    //     font-size: 20px;
    //     line-height: 28px;
    //     color: #A2B7BA;
    // }   
}
