//INICIO DE ESTILO DE LUISA
@import 'variables.scss';
body {
    font-family: 'Slabo 27px', serif;
    margin: 0;
    padding: 0;
}

.fondo {
    .row {
        margin-bottom: 0;
    }
    .todo-clase {
        .textosLu {
            background-color: $indigo;
            margin-top: 30px;
            height: 250px;
            width: 100%;
        }
        .line {
            height: 2px;
            background-color: #261581;
            border-color: #3119b5;
            width: 100%;
        }
        p{
            color: $white;
            font-size: 20px;
        }
    }
}

.fondo {
    padding: 0;
    margin: 0;
    .todo-clase {
        background-color: $indigo;
        /* height: $fondo; */
        width: 100%;
        .clas1 {
            background-color: #30019a;
        }
        .clas2 {
            background-color: #314c96;
        }
        h3 {
            color: $white;
        }
        h4 {
          color: $white;  
        }
        p {
           color: $grey;
            font-size: 20px;
        }
    }
}

.flex-container{
    .sectionL {
        .imgLu {
            background-image: url(../img/banner.jpg);
            background-repeat: no-repeat;
            background-size: cover; 
            height: 400px;
            width: 100%;
        }
        .imgLu1 {
            background-image: url(../img/banner.jpg);
            background-repeat: no-repeat;
            background-size: cover; 
            height: 400px;
            width: 100%;
            color: $white;
            a{
                border-style:groove;
                /* border-color: red; */
            }
        }
    }

}
