//INICIO DE ESTILO DE LUISA
@import 'variables.scss';
body {
    font-family: 'Slabo 27px', serif;
    margin: 0;
    padding: 0;
}

.fondo {
    .row {
        margin-bottom: 0;
    }
    .todo-clase {
        .textosLu {
            background-color: $indigo;
            margin-top: 30px;
            height: 250px;
            width: 100%;
        }
        .line {
            height: 2px;
            background-color: #261581;
            border-color: #3119b5;
            width: 100%;
        }
        p{
            color: $white;
            font-size: 20px;
        }
    }
}

.fondo {
    padding: 0;
    margin: 0;
    .todo-clase {
        background-color: $indigo;
        /* height: $fondo; */
        width: 100%;
        .clas1 {
            background-color: #30019a;
            height: 340px;
            width: 100%;
            .lu {
                margin-bottom: 0;
                margin-left: 8%;
                margin-right: 0;
                margin-top: 8%;
            }
        }
        .clas2 {
            background-color: #314c96;
            height: 340px;
            width: 100%;
            .lu1 {
                margin-bottom: 0;
                margin-left: 8%;
                margin-right: 0;
                margin-top: 8%;
            }
        }
        .clas3 {
            background-color: #314c96;
            height: 340px;
            width: 100%;
            .lu2 {
                margin-bottom: 0;
                margin-left: 8%;
                margin-right: 0;
                margin-top: 8%;
            }
        }
        .clas4 {
            background-color: #30019a;
            height: 340px;
            width: 100%;
            .lu3 {
                margin-bottom: 0;
                margin-left: 8%;
                margin-right: 0;
                margin-top: 8%;
            }
        }
        .clas5 {
            background-color: #30019a;
            height: 340px;
            width: 100%;
            .lu4 {
                margin-bottom: 0;
                margin-left: 8%;
                margin-right: 0;
                margin-top: 8%;
            }
        }
        .clas6 {
            background-color: #314c96;
            height: 340px;
            width: 100%;
            .lu5 {
                margin-bottom: 0;
                margin-left: 8%;
                margin-right: 0;
                margin-top: 8%;
            }
        }
        h3 {
            color: $white;
        }
        h4 {
          color: $white;  
        }
        p {
           color: $grey;
            font-size: 20px;
        }
    }
}

.flex-container{
    .sectionL {
        .imgLu {
            background-image: url(../img/banner.jpg);
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: cover; 
            height : 300px;
            height-left: 60px;
            width: 100%;
            color: $white;
            .fondo-oscuro {
                background-color: rgba(64, 59, 38, 0.72);
                height: 300px;
                width: 100%;
            }
        }
        .imgLu1 {
            background-image: url(../img/banner.jpg);
            background-position: bottom;
            height: 590px;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover; 
            .fondo-oscuro1 {
                background-color: rgba(64, 59, 38, 0.72);
                height: 300px;
                width: 100%;
                .color {
                    .waves-effect {
                        height: 50px;
                        width: 50%;
                    }
                }
            }
            h4 {
                color: $white;
            }
            p{
                color: $white;
                font-size: 20px;
                margin-left: 5%;
                margin-top: 5%;
            }
            .transparent{
                margin-top: 4%;
                border-style: groove;
                height: 50px;
                width: 50%;
            }
            .color {
                margin-top: 4%;
            }
            .fondo-oscurito {
                background-color: rgba(0, 0, 0, 0.94);
                height: 300px;
                width: 100%;
                .icon {
                    .icon-mail{
                        color: $white;
                    }
                }
            }
        }
    }

}
